@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,100&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



 body{
 background-color: #162728;
} 

nav li a{
  animation: mover 880ms;
  animation-delay: 200ms;
  animation-fill-mode: backwards;
  overflow: hidden;
}


.descricao{
  animation: move 880ms;
  animation-delay: 200ms;
  animation-fill-mode: backwards;
  overflow: hidden;
}



@keyframes move {
  from {
    opacity: 0;
    transform: translateX(-15%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes mover {
  from {
    opacity: 0;
    transform: translatey(-15%);
  }
  to {
    opacity: 1;
    transform: translatey(0%);
  }
}


